# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Don't send the following files to the docker daemon as the build context.

**/.cache
**/.dockerignore
**/.DS_Store
**/.git
**/.gitattributes
**/.gitkeep
**/.gitignore
**/.travis.yml
**/LICENSE
**/README.md
db
Dockerfile
docker-compose.yml
**/public
**/node_modules
**/yarn-error.log
**/uploads/*
